* {
  border: none;
  border-radius: 0;
  font-family: JetBrains Mono;
  font-size: 14.5px;
  min-height: 0;
}

#custom-notification {
  background-color: #24283b;
  padding: 5px 10px;
  border-radius: 5px 0px 5px 0px;
}

window#waybar {
  background: transparent;
  color: white;
}

#window {
  background-color: #2c3140;
  color: #7aa2f7;
  margin: 5px 0px;
  margin-right: 25px;
  border-radius: 5px 5px 5px 5px;
  padding: 5px 10px;
}

window#waybar.empty #window {
  background-color: transparent;
}

#workspaces {
  background-color: #2c3140;
  margin: 5px;
  margin-left: 7px;
  border-radius: 5px;
}

#workspaces button {
  padding: 5px 10px;
  color: #c0caf5;
}

#workspaces button.focused {
  color: #24283b;
  background-color: #7aa2f7;
  border-radius: 5px;
}

#workspaces button:hover {
  background-color: #7dcfff;
  color: #2c3140;
  border-radius: 5px;
}

#custom-date,
#clock,
#battery,
#pulseaudio,
#network {
  background-color: #2c3140;
  padding: 5px 10px;
  margin: 5px 0px;
}

#custom-date {
  color: #7dcfff;
}

#custom-power {
  color: #db4b4b;
  background-color: #2c3140;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  padding: 5px 10px;
}

#clock {
  color: #bca9e1;
  border-radius: 15px 15px 15px 15px;
  margin-right: 10px;
}

#battery {
  color: #9ece6a;
}

#battery.charging {
  color: #9ece6a;
}

#battery.warning:not(.charging) {
  background-color: #f7768e;
  color: #24283b;
  border-radius: 5px 5px 5px 5px;
}

#network {
  color: #5da3e4;
  border-radius: 5px 0px 0px 5px;
}

#pulseaudio {
  color: #e0af68;
}

#language {
  background-color: #2c3140;
  color: #da6a80;
  margin: 5px 0px;
  padding: 5px 10px;
}

#wireplumber {
  color: #e0af68;
}

#memory {
  background-color: #2c3140;
  color: #ff9e64;
  padding: 5px 10px;
  margin: 5px 0px;
  border-radius: 0px 5px 5px 0px;
  margin-right: 7px;
}

#cpu {
  background-color: #2c3140;
  color: #2ac3de;
  margin: 5px 0px;
  padding: 5px 10px;
}

@keyframes workspacesanim {
  0% {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20px, @accent 20px);
  }
  10% {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 18px, @accent 18px);
  }
  20% {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 16px, @accent 16px);
  }
  30% {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 14px, @accent 14px);
  }
  40% {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 12px, @accent 12px);
  }
  50% {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10px, @accent 10px);
  }
  60% {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 8px, @accent 8px);
  }
  70% {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 6px, @accent 6px);
  }
  80% {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 4px, @accent 4px);
  }
  90% {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 2px, @accent 2px);
  }
  100% {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, @accent 0px);
  }
}

#workspaces button.active {
  animation-name: workspacesanim;
  animation-fill-mode: both;
  animation-duration: 300ms;
  animation-direction: normal;
}
