# Ignorar arquivos de backup
*~
*.bak

# Ignorar diretórios de instalação
paru/

# Ignorar nohup
.config/hypr/scripts/nohup.out

#Ignora cache de wallpaper
.config/hypr/last_wallpaper.txt
.config/hypr/hyprpaper.conf

