# Ignorar arquivos de backup
*~
*.bak

# Ignorar diretórios de instalação
paru/

.config/hypr/wallpapers/active
.config/waybar/themes/active.txt
.local/share/nwg-look
Session.vim
.local/share/icons/hicolor
.local/share/icons/hicolor
.config/nvim/lazy-lock.json
.local/share/icons/*
.config/rofi/shared/colors.rasi
.config/waybar/colors-waybar.css
.config/kitty/colors.conf
