# Ignorar arquivos de backup
*~
*.bak

# Ignorar diretórios de instalação
paru/

# Ignorar nohup
.config/hypr/scripts/nohup.out

#Ignora cache de wallpaper
/home/gdam/dotfiles/.config/hypr/last_wallpaper.txt

