/** ********** Fonts ********** **/
* {
  font-family: "JetBrains Mono", "Symbols Nerd Font", Iosevka, archcraft,
    sans-serif;
  font-size: 14px;
}

/** ********** Waybar Window ********** **/
window#waybar {
  background-color: #1e1d2d; /* Cor principal escura */
  color: #cdd6f4; /* Texto Primário */
  border-bottom: 2px solid #313244; /* Surface */
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

/** ********** Custom ********** **/

#custom-menu {
  background-color: #313244; /*Surface */
  color: #b4befe; /* Accent 1 */
  font-size: 18px;
  border-radius: 0px 14px 0px 0px;
  margin: 0px 0px 0px 0px;
  padding: 2px 8px 2px 8px;
}

#custom-power {
  background-color: #f38ba8;
  font-size: 16px;
}

#custom-power,
#custom-themes {
  color: #1e1d2d;
  border-radius: 10px;
  margin: 6px 6px 6px 0px;
  padding: 2px 8px 2px 8px;
}

/** ********** Tray ********** **/
#tray {
  background-color: #313244; /* Surface  */
  border-radius: 10px;
  margin: 6px 0px 6px 6px;
  padding: 4px 6px;
}
#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

/** ********** CPU ********** **/
#cpu {
  color: #eba0ac;
}

/** ********** Memory ********** **/
#memory {
  color: #a6e3a1;
}

/** ********** Disk ********** **/
#disk {
  color: #fab387;
}

/** ********** Pulseaudio ********** **/
#pulseaudio {
  color: #74c7ec;
}
#pulseaudio.bluetooth {
  color: #94e2d5;
}
#pulseaudio.muted {
  color: #eba0ac;
}

/** ********** Battery ********** **/
#battery {
  color: #94e2d5;
}

@keyframes blink {
  to {
    color: #f1fcf9;
  }
}

/** ********** Network ********** **/
#network {
  color: #fab387;
}
#network.disconnected,
#network.disabled {
  color: #eba0ac;
}

/** ********** Bluetooth ********** **/
#bluetooth {
  color: #a6e3a1;
}
#bluetooth.disabled {
  color: #eba0ac;
}
#bluetooth.off {
  color: #eba0ac;
}

/** ********** Clock ********** **/
#clock {
  color: #89b4fa;
}

/** ********** WLR Desktop ********** **/
#workspaces {
  background-color: #1e1d2d;
  border-radius: 10px;
  margin-left: 6px;
  margin-bottom: 2px;
  padding: 0px;
}
#workspaces button {
  color: #cdd6f4;
}
#workspaces button.active {
  color: #f9e2af;
}

/** ********** Common style ********** **/
#backlight,
#battery,
#clock,
#cpu,
#disk,
#memory,
#pulseaudio,
#network,
#bluetooth,
#updates {
  background-color: #45475a;
  border-radius: 10px 0px 0px 10px;
  margin: 6px 0px 6px 0px;
  padding: 4px 6px;
}

#backlight.2,
#battery.2,
#clock.2,
#cpu.2,
#disk.2,
#memory.2,
#pulseaudio.2,
#network.2,
#bluetooth.2,
#updates.2 {
  background-color: #313244;
  color: #cdd6f4;
  font-size: 12px;
  font-weight: bold;
  border-radius: 0px 10px 10px 0px;
  margin: 6px 6px 6px 0px;
  padding: 5px 6px 4px 6px;
}
