* {
    font-family: "SpaceMono Nerd Font";
    font-weight: bolder;
}

#waybar {
    background: #171717;
    color: #fff;
}

#clock {
    color: #fff;
}

#tray {
    padding-left: 4px;
}

#workspaces button:hover {
    background-color: transparent;
}

#workspaces button {
    color: #737373;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 0px;
}

#workspaces button:hover {
    background-color: #262626;
}

#workspaces button.active {
    color: #fff
}

#window {
    color: #fff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-exit,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#bluetooth,
#mpd,
#custom-power,
#custom-updates,
#custom-notifications,
#custom-spotify {
    padding: 0 7px;
    color: #fff;
}

#custom-power {
    color: #f43f5e;
    margin-right: 10px;
    margin-left: -7px;
}